<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <TITLE>HBNB</TITLE>
    </HEAD>
    <BODY>
	{# handle withespaces
	{%- if ... %} strips before
	{%- if ... -%} strips before and after
	{%+ if ... %} preserves before
	{%+ if ... -%} preserves before and strips after
	remember that {% endif %} is treated separately	
	#}
        <H1> States </H1>
	<UL>
		{% for id, state in states | dictsort(false, 'value') %}
        	<LI>{{ id }}: <B>{{ state }}</B></LI>
		{% endfor %}
	</UL>
    </BODY>
</HTML>
