<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <TITLE>HBNB</TITLE>
    </HEAD>
    <BODY>
	{# handle withespaces
	{%- if ... %} strips before
	{%- if ... -%} strips before and after
	{%+ if ... %} preserves before
	{%+ if ... -%} preserves before and strips after
	remember that {% endif %} is treated separately	
	#}
        <H1> States </H1>
	<UL>
		{% for id, state in states.items() | sort(attribute='1.name') %}
        	<LI>{{ state.id }}: <B>{{ state.name }}</B></LI>
			<UL>
				{% for city in state.cities|sort(attribute='name') -%}
				<LI> {{ city.id }}: <B>{{ city.name }}</B></LI>
				{%- endfor %}
			</UL>
		{% endfor %}
	</UL>
    </BODY>
</HTML>
